@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* custom */

  --primary: #080809;
  --bg-sidebar: #101111;
  --btn-primary: #2467d2;
}

.sidebar {
  background-color: var(--bg-sidebar);
}

body {
  background-color: var(--primary);
  font-family: var(--font-poppins), sans-serif;
}

.btn-primary {
  background-color: var(--btn-primary) !important;
}
